@font-face {
  font-family: "iconfont"; /* Project id 3158150 */
  src: url('iconfont.woff2?t=1642916471654') format('woff2'),
       url('iconfont.woff?t=1642916471654') format('woff'),
       url('iconfont.ttf?t=1642916471654') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email:before {
  content: "\e7e3";
}

.icon-qq:before {
  content: "\e600";
}

.icon-xiala:before {
  content: "\e65e";
}

.icon-GitHub:before {
  content: "\e8c6";
}

