<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kudaompq.mapper.AboutMapper">

    <update id="updateAbout">
        update about set value  = #{value} where name_en = #{nameEn}
    </update>
</mapper>
