<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kudaompq.mapper.CityVisitorMapper">
    <insert id="saveCityVisitor">
        insert into city_visitor (city, uv) VALUES (#{city},#{uv})
        on duplicate key update
        uv = uv + #{uv}
    </insert>


</mapper>
